@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Geist", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-neutral-700 selection:bg-orange-600 selection:text-white;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  @apply text-orange-600 cursor-pointer;
}
a:hover {
  text-decoration: underline;
}

html {
  @apply bg-[#fffcfa];
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.with-transition {
  @apply transition-all duration-300;
}

.markdown-body p {
  @apply my-4;
}

.markdown-body p:first-child:last-child {
  @apply my-0;
}

.markdown-body b,
.markdown-body strong {
  @apply text-black font-medium;
}

.height-calc-auto {
  height: max-content;
}

h2 {
  @apply text-[20px] font-semibold text-black mb-4;
}
